@media screen and (max-width: 415px) {
    /* body {
        max-width: 415px;
        margin:auto;
    } */
    header {
        width: 320px;
        padding: 5px 5px;
        display: flex;
        justify-content: space-between;
    }
    a.a-header {
        font-size: 1.8vh;
    }
    section.description {
        max-width: 415px;
        height: 600px;
    }
    /* .description-image {
        width: 415px;
    } */
    /* div.description-text {
        height: 760px;
    } */
    div.description-text h1 {
        /* padding-top: vh; */
        font-size: 12vh;
    }
    div.description-text h2 {
        font-size: 3vh;
        letter-spacing: 1vh;
        margin-top: -10vh;
    }
    div.description-text h5 {
        width: 315px;
        font-size: 2.5vh;
    }
    .about {
        max-width: 415px;
        display: flex;
        flex-wrap: wrap;
        /* height: 350px; */
    }
    .about-description, .about-photos, .about-photos-mystery, .about-photos-history, .about-history, .about-mystery {
        max-width: 415px;
        height: 300px;
    }
    .about-description {
        height: 40vh;
    }
    .about-photos {
        width: 420px;
        height: 38vh;
    }
    .about-description h1 {
        padding-top: 2vh;
        padding-left: 3vh;
        font-size: 9vh;
    }
    .about-description h3 {
        font-size: 20px;
        margin-top: -8vh;
        margin-left: 170px;
    }
    .about-description p {
       padding-left: 3vh;
       max-width: 55vh;
       font-size: 2vh;
    }
    .about-border, .about-photos img {
        max-width: 415px;
        width: 50vh;
        height: 30vh;
    }
    .about-border {
        margin-top: -28vh;
        margin-left: 5vh;

    }
    .about-photos img{
        padding: 0;
        margin-top: 3vh;
        margin-left: 3vh;
    }

    .column-reverse {
        flex-direction: column-reverse;
    }
    .about-history {
        height: 58vh;
    }
    .about-history h1{
        /* padding-top: 2vh; */
        font-size: 9vh;
        margin-left: 3vh;
    }
    .about-history h3 {
        font-size: 3vh;
        letter-spacing: 0.5vh;
        margin-top: -8.3vh;
        margin-left: 23vh;
    }
    .about-history p {
        padding-left: 3vh;
        max-width: 55vh;
        font-size: 2vh;
    }
    .about-photos-history {
        height: 38vh;
    }
    .history-border, .about-photos-history img {
        max-width: 415px;
        width: 48vh;
        height: 30vh;
    }
    .history-border {
        margin-top: -28vh;
        margin-left: 1vh;
    }
    .about-photos-history img{
        padding: 0;
        margin-top: 3vh;
        margin-left: -2vh;
        /* margin-right: 3vh; */
    }

    .about-mystery {
        height: 40vh;
    }
    .about-mystery h1 {
        padding-top: 2vh;
        padding-left: 3vh;
        font-size: 9vh;
    }
    .about-mystery h3 {
        font-size: 3vh;
        margin-top: -8.3vh;
        margin-left: 28vh;
    }
    .about-mystery p {
       padding-left: 3vh;
       max-width: 55vh;
       font-size: 2vh;
    }
    .about-photos-mystery {
        height: 38vh;
    }
    .mystery-border, .about-photos-mystery img {
        max-width: 415px;
        width: 48vh;
        height: 30vh;
    }
    .mystery-border {
        margin-top: -28vh;
        margin-left: 5vh;

    }
    .about-photos-mystery img{
        padding: 0;
        margin-top: 3vh;
        margin-left: 2.5vh;
    }
}