@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
:root {
    --color-one: #2C3333;
    --color-two: #395b64;
    --color-three: #A5C9CA;
    --color-four: #E7F6F2;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 1440px;
    margin:auto;
}
header {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 15px 20px;
}

.logo {
    padding-top: 10px;
}

ul {
    display: flex;
    justify-content: flex-end;
}

ul > li{
    list-style-type: none;
}
a.a-header {
    text-decoration: none;
    font-family: 'Castoro', serif;
    font-size: 19px;
    margin-left: 15px;
    color: var(--color-four);
    cursor: pointer;
}
a.a-header:hover {
    color: var(--color-three);
    border-bottom: 3px solid var(--color-two);
}


section.description {
    display: block;
}
.description-image {
    width: 1440px;
    height: 850px;
    top: 0;
    position: absolute;
    z-index: -1;
    background-image: url("img/san-sebastian-cover2.JPEG");
    background-repeat: no-repeat;
    background-position: center;
}
div.description-text {
    height: 760px;
    text-align: center;
    position: relative;
}
div.description-text h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 250px;
    padding-top: 130px;
    position: relative;
    color: var(--color-four);
    
}
div.description-text h2 {
    font-size: 75px;
    margin-top: -200px;
    display: block;
    background-color: var(--color-three);
    position: relative;
    z-index: 1;
    letter-spacing: 15px;
    font-family: 'Castoro', serif;
    padding-top: 10px;
    color: var(--color-one);
}
div.description-text h5 {
    font-size: 20px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    font-family: 'Castoro', serif;
    font-size: 20px;
    color: var(--color-four);
}
button {
    margin-top: 40px;
    padding: 15px 25px;
    border-radius: 17px;
    border: 3px solid var(--color-one);
    font-family: 'Castoro', serif;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--color-three);
    color: var(--color-one);
}
button:hover {
    border: 3px solid var(--color-three);
    background-color: var(--color-two);
    color: var(--color-three);
}
header > .logo > a:hover {
    border-bottom: none;
}

.main {
    background-color: var(--color-one);
    color: var(--color-four);
    padding-top: 50px;
}
.about {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.about-description, .about-photos, .about-photos-mystery, .about-photos-history, .about-history, .about-mystery {
    /* width: 50%; */
    height: 350px;
    margin-bottom: 50px;
    background-color: var(--color-three);
    color: var(--color-one);
}
.about-description, .about-history, .about-mystery {
    width: 655px;
}
.about-photos, .about-photos-history, .about-photos-mystery {
    padding-right: 25px;
}
.about-photos-history {
    padding-left: 35px;
}
.about-photos-mystery{
    padding-left: 5px;
}
.about-description h1 {
    padding-left: 60px;
    padding-top: 35px;
    font-size: 80px;
    color: rgba(231, 246, 242, 0.4);
    font-family: 'Castoro', serif;
    position: relative;
}
.about-description h3 {
    font-family: 'Castoro', serif;
    position: relative;
    margin-top: -70px;
    margin-left: 260px;
    font-size: 27px;
    background-color: var(--color-three);
}
.about-description p {
    font-family: 'Castoro', serif;
    margin-top: 40px;
    padding-left: 53px;
}
.about-border {
    border: 1px solid var(--color-four);
    height: 270px;
    width: 410px;
    margin: auto;
    position: relative;
    margin-top: 45px;
    display: block;
    margin-top: -250px;
    margin-left: 145px;
}
.about-photos img{
    padding-top: 27px;
    padding-left: 120px;
    position: relative;
    z-index: 1;
}

.main2 {
    padding-top: 50px;
    background-image: url("img/history-cover.JPEG");
    background-position: center;
    background-attachment: fixed;
}
.about-history h1 {
    padding-top: 20px;
    font-size: 80px;
    color: rgba(231, 246, 242, 0.4);
    font-family: 'Castoro', serif;
    position: relative;
}
.about-history h3 {
    font-family: 'Castoro', serif;
    position: relative;
    margin-top: -70px;
    margin-left: 260px;
    font-size: 27px;
    background-color: var(--color-three);
}
.about-history p {
    font-family: 'Castoro', serif;
    margin-top: 35px;
    padding-right: 15px;
}
.history-border {
    border: 1px solid var(--color-four);
    height: 270px;
    width: 400px;
    position: relative;
    margin-top: 45px;
    display: block;
    margin-top: -250px;
    margin-left: 120px;
}
.about-photos-history img{
    padding-top: 32px;
    padding-left: 85px;
    position: relative;
    z-index: 1;
}
.about-mystery h1 {
    padding-left: 60px;
    padding-top: 55px;
    font-size: 80px;
    color: rgba(231, 246, 242, 0.4);
    font-family: 'Castoro', serif;
    position: relative;
}
.about-mystery h3 {
    font-family: 'Castoro', serif;
    position: relative;
    margin-top: -72px;
    margin-left: 280px;
    font-size: 27px;
    background-color: var(--color-three);
}
.about-mystery p {
    font-family: 'Castoro', serif;
    margin-top: 40px;
    padding-left: 53px;
}
.mystery-border {
    border: 1px solid var(--color-four);
    height: 270px;
    width: 400px;
    position: relative;
    display: block;
    margin-top: -250px;
    margin-left: 150px;
}
.about-photos-mystery img{
    padding-top: 32px;
    padding-left: 120px;
    position: relative;
    z-index: 1;
}

.main3 {
    padding-top: 50px;
    background-color: var(--color-three);
    color: #2C3333;
}
.things-div-1 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px; 
}
.things-div-1 h1 {
    padding-left: 240px;
    font-size: 80px;
    color: rgba(231, 246, 242, 0.4);
    font-family: 'Castoro', serif;
    position: relative;
}
.things-div-1 h3 {
    font-family: 'Castoro', serif;
    position: relative;
    margin-top: -72px;
    margin-left: 690px;
    font-size: 27px;
    background-color: var(--color-three);
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cont {
    position: relative;
    overflow: hidden;
    height: 600px;
    padding: 80px 70px;
}
.cont__inner {
    position: relative;
    height: 100%;
}
.cont__inner:hover .el__bg:after {
    opacity: 1; 
}
.el {
    position: absolute; 
    left: 0;
    top: 0;
    width: 19.2%;
    height: 100%;
    border: var(--color-four) double 7px;
}
.el__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.el__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.el__bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
}
.el__bg:before {
    content:'';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.el__bg:after {
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}
.el__preview-cont {
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
button.const {
    padding: 11px 25px;
}

.cont.s--el-active .el__preview-cont {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}
.el__heading {
    margin-top: 40px;
    color: var(--color-four);
    text-transform: uppercase;
    font-size: 18px;
}
.el__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
}
.el.s--active .el__content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
}
.el__text {
    text-transform: uppercase;
    font-size: 40px;
    color: var(--color-four);
    display: flex;
}
.el__close-btn {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    opacity: 0;
    pointer-events: none;
}
.el.s--active .el__close-btn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}
.el__close-btn:before, .el__close-btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: var(--color-four);
    opacity: 0;
    transition: opacity 0s;
}
.el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
    opacity: 1;
}
.el.s--active .el__close-btn:before {
    transform: rotate(45deg) translateX(0);
}
.el.s--active .el__close-btn:after {
    transform: rotate(-45deg) translateX(0);
}

.cont.s--el-active .el:nth-child(1):not(.s--active) {
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(1) .el__inner {
    transition-delay: 0s;
}
.el:nth-child(1) .el__bg {
    transform: translate3d(0%, 0, 0);
}
.el:nth-child(1) .el__bg:before {
    transition-delay: 0s;
    background-image: url("img/nature.jpg");
    background-position-x: -4px;
}
.el:nth-child(2) {
    transform: translate3d(105.2083333333%, 0, 0);
    transform-origin: 155.2083333333% 50%;
}
.cont.s--el-active .el:nth-child(2):not(.s--active) {
    transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(2) .el__inner {
    transition-delay: 0.1s;
}
.el:nth-child(2) .el__bg {
    transform: translate3d(-19.2%, 0, 0);
}
.el:nth-child(2) .el__bg:before {
    transition-delay: 0.1s;
    background-image: url("img/places.jpg");
}
.el:nth-child(3) {
    transform: translate3d(210.4166666667%, 0, 0);
    transform-origin: 260.4166666667% 50%;
}
.cont.s--el-active .el:nth-child(3):not(.s--active) {
    transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(3) .el__inner {
    transition-delay: 0.2s;
}
.el:nth-child(3) .el__bg {
    transform: translate3d(-38.4%, 0, 0);
}
.el:nth-child(3) .el__bg:before {
    transition-delay: 0.2s;
    background-image: url("img/attraction.jpg");
}
.el:nth-child(4) {
    transform: translate3d(315.625%, 0, 0);
    transform-origin: 365.625% 50%;
}
.cont.s--el-active .el:nth-child(4):not(.s--active) {
    transform: scale(0.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(4) .el__inner {
    transition-delay: 0.3s;
}
.el:nth-child(4) .el__bg {
    transform: translate3d(-57.6%, 0, 0);
}
.el:nth-child(4) .el__bg:before {
    transition-delay: 0.3s;
    background-image: url("img/events.jpg");
}
.el:nth-child(5) {
    transform: translate3d(420.8333333333%, 0, 0);
    transform-origin: 470.8333333333% 50%;
}
.cont.s--el-active .el:nth-child(5):not(.s--active) {
    transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(5) .el__inner {
    transition-delay: 0.4s;
}
.el:nth-child(5) .el__bg {
    transform: translate3d(-76.8%, 0, 0);
}
.el:nth-child(5) .el__bg:before {
    transition-delay: 0.4s;
    background-image: url("img/resto.jpg");
}
.el:hover .el__bg:after {
    opacity: 0;
}
.el.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
.el.s--active .el__bg {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s;
}
.el.s--active .el__bg:before {
    transition-delay: 0.6s;
    transform: scale(1.1);
}


.el__text-1, .el__text-2, .el__text-3 {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin: -1vh 2vh;
    background-color: #A5C9CA;
    border: 2px solid var(--color-four);
    width: 100%;
    height: 100%;
}
.el__text h2 {
    font-size: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-four);
    color: var(--color-two);
}
.el__text p {
    padding-top: 20px;
    font-size: 15px;
}
.el__text a {
    padding-top: 10px;
    font-size: 17px;
    color: var(--color-four);
    text-decoration: none;
}
.el__text a:hover {
    color: var(--color-two);
}


footer {
    padding: 15px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-one);
    color: var(--color-four);
}
.footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer a:hover {
    border-bottom: none;
}
.author {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.author p {
    padding-bottom: 10px;
}
.media {
    display: flex;
    justify-content: center;
}
.media a {
    padding: 0 7px;
    margin: 0;

}
.top {
    margin-top: 5px;
}

